@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .checkout-section-container {
    @apply bg-white rounded p-4 border;
  }

  .checkout-section-header-active {
    @apply text-lg font-medium text-gray-900;
  }
  .checkout-section-header-disabled {
    @apply text-lg font-medium text-gray-400;
  }

  .btn-checkout-section {
    @apply w-full bg-action-4 border border-action-3 rounded-md shadow-sm py-2 px-4 text-base font-medium hover:bg-action-2;
  }
}

.dropdown:focus-within .dropdown-menu {
  opacity: 1;
  transform: translate(0) scale(1);
  visibility: visible;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.country-select-container select {
  background-image: none !important;
  font-size: 1.2rem;
}

.no-margin-p p {
  margin: 0;
}

.swiper-wrapper {
  align-items: start;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title-font {
  font-family: "Raleway", sans-serif;
}

/* footer {
    background: linear-gradient(to right, #fafbdf, #28796e);
} */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #0b9446;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

input:disabled + .slider {
  background-color: #bdbdbd;
}

.prose-2xl:has(table) {
  overflow-x: auto;
}

.banner-text a {
  display: inline-flex;
  height: 3rem;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border: 1px solid;
  outline: none;
  font-size: 2rem;
  text-transform: uppercase;
  border-color: #000000;
  background-color: #000000;
  color: white;
  padding: 2.5rem 2rem;
}

.banner-text a:hover {
  background-color: #394052;
}

.banner-text h1 {
  margin-bottom: 10px;
}

.prose-base.banner-text a {
  margin-top: 15px;
}

.prose-base.banner-text p {
  font-size: 1.4rem;
}
